<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-3 col-md-offset-1 content-profile-left text-center">
      <app-user-data></app-user-data>
    </div>
    <div class="col-md-7 publications">
      <div class="row cont-publications-header text-white text-fsjoey-bold text-24">
        <div class="arrow-left left text-36 text-center" (click)="goBack()">
          <i class="material-icons">keyboard_arrow_left</i>
        </div>
        <div class="arrow-right right">
          <div>
            Reportar Contenido
          </div>
        </div>
      </div>
      <div class="text-roboto-light" style="height:auto;overflow:hidden;background:white;padding:15px;border-radius:0 0 3px 3px">
        <h3>¿Por qu&eacute; quieres reportar este contenido?</h3>
        <div class="reportTypeHolder" *ngFor="let report of reportTypes;">
          <input type="radio" name="report" value="{{report.Id}}" id="report_{{report.Id}}">&nbsp;&nbsp;&nbsp; {{report.Description}}
        </div>
        <br>
        <textarea name="name" placeholder="Mensaje" rows="8" cols="80" id="reportMessage"></textarea>
        <div class="row">
          <div class="col-md-12">
            {{message}}
          </div>
        </div>
        <br>
        <div class="col-md-6">
          <p class="cont-btn cont-btn-gray text-16 img-center">
            <button type="submit" class="anchor-reset btn btn-gray text-center text-white" (click)='goBack()'>Cancelar</button>
          </p>
        </div>
        <div class="col-md-6">
          <p class="cont-btn cont-btn-blue text-16 img-center">
            <button type="submit" class="anchor-reset btn btn-blue text-center text-white" (click)="report()">Aceptar</button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>