<div class="row header bg-white text-fsjoey text-14">
  <div class="container">
    <div class="col-md-2 text-left">
      <img src="assets/img/logo-sura.png" alt="">
    </div>
  </div>
</div>
<div class="row header2 text-fsjoey text-14">
  <div class="container container2">
    <div class="col-md-12">
      <p class="text-18">
        <span class="text-fsjoey-bold">Leyendas del servicio</span>  <span class="text-fsjoey-light">Más real y humana que nunca</span>
      </p>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
