.thumbNoti
  width: 40px
  height: 40px
  border-radius: 5px
  float: left
  margin: 0 5px 0 0


.header
  padding: 15px 0 15px 0
  position: fixed
  width: 100%
  z-index: 2
  left: 16px
.header2
  position: absolute
  width: 100%
  z-index: 1
  left: 16px
  top: 73px
  background-color: #3daad6
  div div p
    margin: 3px 0 3px 0
    color: #ffffff

// .container2
//   margin-top: 15px
//   padding: 0 0 15px 0

.dropdown-submenu
  position: relative
  > .dropdown-menu
    font-family: 'FSJoey-Bold'
    border: 0
    background-image:  url(../../assets/img/bg-sub-menu.png)
    background-size: 100% 100%
    left: -60%
    padding: 20px 16px
    width: 230px
    box-shadow: none
    line-height: 30px
    background-color: transparent
    top: 90%
    font-size: 14px
    li
      margin: 4px 0
      a
        padding: 8px 12px
        font-weight: normal
      &:hover
        a
          border-radius: 20px
          color: #ffffff !important
          background-color: #246187 !important
  &:hover
    > .dropdown-menu
      display: block
  &.pull-left
    float: none
    > .dropdown-menu
      left: 0
  > .dropdown-menu2
    font-family: 'FSJoey-Bold'
    border: 0
    background-image:  url(../../assets/img/bg-sub-menu-2.png)
    background-size: 100% 100%
    left: -270%
    padding: 60px 16px 20px 16px
    width: 250px
    box-shadow: none
    background-color: transparent
    top: 90
    font-size: 14px
    line-height: 15px
    li
      margin: 4px 0
      color: #4A494A
      margin-bottom: 20px
      cursor: pointer
      a
        padding: 8px 12px
        font-weight: normal
        color: #4A494A
  i
    background-color: #3daad6
    color: #ffffff
    padding: 3px 15px
    border-radius: 5px
    margin-right: 10px


.line-separator
  padding: 0
  border-bottom: 1px solid #979797
  margin: 5px 5px 10px 5px !important
  a
    padding: 0 !important
  &:hover
    background: transparent



