.header
  padding: 15px 0 15px 0
  position: fixed
  width: 100%
  z-index: 2
  left: 16px
.header2
  position: absolute
  width: 100%
  z-index: 1
  left: 16px
  top: 70px
  background-color: #3daad6
  div div p
    margin: 3px 0 3px 0
    color: #ffffff

// .container2
//   margin-top: 15px
//   padding: 0 0 15px 0

.dropdown-submenu
  position: relative
  > .dropdown-menu
    border: 0
    background-image:  url(../../assets/img/bg-sub-menu.png)
    background-size: 100% 100%
    left: -40%
    padding: 20px 0 20px 0
    width: 200px
    box-shadow: none
    line-height: 30px
    background-color: transparent
    top: 90%
    li
      &:hover
        a
          color: #ffffff !important
          background-color: #246187 !important
  &:hover
    > .dropdown-menu
      display: block
  &.pull-left
    float: none
    > .dropdown-menu
      left: 0