<div class="row header bg-white text-fsjoey text-14">
  <div class="container">
    <div class="col-md-2 text-left">
      <a [routerLink]="['/home']">
        <img src="assets/img/logo-sura.png" alt="">
      </a>
    </div>
    <ul class="ul-nav">
      <li class="dropdown-submenu li-nav">
        <a>
          <img src="assets/img/icons/notification-2.png" alt="">
          <!-- notification-2 si hay notificaciones, de lo contrario  notification-1 -->
        </a>
        <ul class="dropdown-menu dropdown-menu2 text-roboto-regular text-12">
          <li>
            Notiﬁcaciones
          </li>
          <hr>
          <li *ngFor="let noti of notifications">
            <img class="thumbNoti" src="data:image/png;base64,{{ noti.Picture }}">
            {{ noti.UserName }} {{ noti.Message }}
          </li>
        </ul>
      </li>
      <li *ngFor="let item of menu; let i = index"  class="dropdown-submenu li-nav">
        <a [attr.href]="item.url?item.url:null">
          <img [src]="item.active ? item.imageActive : item.image" alt=""> {{item.title}}
        </a>
        <ul class="dropdown-menu text-roboto-regular text-12" *ngIf="item.submenu.length > 0">
          <li *ngFor="let sub of item.submenu" class="" [ngClass]="sub.class">
            <a [attr.href]="sub.urlSubmenu?sub.urlSubmenu:null" (click)="submenuclick($event,sub.click)">
              {{sub.title}}
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div class="row header2 text-fsjoey text-14">
  <div class="container container2">
    <div class="col-md-12">
      <p class="text-18">
        <span class="text-fsjoey-bold">Leyendas del servicio</span>  <span class="text-fsjoey-light">Más real y humana que nunca</span>
      </p>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
