
.maskReden
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 99
  background: rgba(0,0,0,0.7)
  .formReden
    position: absolute
    width: 100%
    max-width: 550px
    background: #ffffff
    padding: 15px
    top: 50%
    left: 50%
    margin: -250px 0 0 -275px
    border-radius: 10px
    h1
      color: #21578e
      text-align: center
      margin: 0
      padding: 0
    h3
      color: #909090
      text-align: center
      margin: 0
      padding: 0
    .form
      margin: 40px 0 10px 0
      input
        display: block
        width: 100%
        border: solid 1px #d3d2d3
        padding: 15px
        margin: 0 0 10px 0
        border-radius: 10px
        &.disable
          background: #d3d2d3
          color: #21578e



.product
  margin: 0 0 30px 0
.noPadding
  padding: 0 !important
  margin: 0 !important

.puntos
  font-size: 30px
  color: #21578e
