<app-header-login></app-header-login>

<div class="maskReden" *ngIf="showMaskReden">
  <div class="formReden">
    <h1 class="text-26 text-roboto-medium">Confirmación de datos</h1>
    <h3 class="text-20 text-roboto-light">Confirma tus datos para redimir los puntos</h3>
    <div class="form">
      <input type="text" class="disable text-roboto-medium" value="{{ user.Name }}" readonly>
      <input type="text" class="disable text-roboto-medium" value="{{ user.Company }}" readonly>
      <input type="number" placeholder="Cantidad" [(ngModel)]="reden.cantidad">
      <input type="text" placeholder="Dirección de envío por correo interno" [(ngModel)]="reden.address">
      <br>
      <div class="row">
        <div class="col-md-6">
          <p class="cont-btn cont-btn-gray text-16 img-center">
            <button type="button" class="anchor-reset btn btn-gray text-center text-16" (click)="hideMaskReden()">Cancelar</button>
          </p>          
        </div>
        <div class="col-md-6">
          <p class="cont-btn cont-btn-gray text-16 img-center">
            <button type="button" id="bntReden" class="anchor-reset btn btn-blue text-center text-16" (click)="redimir()">Aceptar</button>
          </p>          
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3 col-md-offset-1 content-profile-left text-center">
      <app-user-data name="Maria Fernanda Bustamante"></app-user-data>
    </div>
    <div class="col-md-7 publications">
      <div class="row cont-publications-header text-white text-fsjoey-bold text-24">
        <div class="arrow-left left text-36 text-center">
          <i class="material-icons">keyboard_arrow_left</i>
        </div>
        <div class="arrow-right right">
          <div class='text-20'>
            PREMIOS
          </div>
        </div>
      </div>
      <br>
      <div class="row cont-publications-body legals">
        <div class="col-md-12 data-publications">
          <div class="product" *ngFor="let premio of premios" >
            <div class="row">
              <div class="col-md-4">
                <img src="{{ premio.Image }}" class="img-responsive center-block">
              </div>          
              <div class="col-md-8 cont-send-message">
                <br>
                <h1 class="text-18 text-roboto-medium color-414042">{{ premio.Name }}</h1>
                <br>
                <p class="text-12 text-roboto-light color-414042">
                  {{ premio.Description }}
                </p>
                <div class="row">
                  <div class="col-md-6"><div class="puntos text-roboto-medium">{{ premio.Point }} Pts.</div></div>
                  <div class="col-md-6">
                    <p class="cont-btn cont-btn-gray text-16 img-center">
                      <button type="button" id="btnPublish" class="anchor-reset btn btn-blue text-center text-16" (click)="showReden(premio)">Redimir</button>
                    </p>
                  </div>
                </div>
              </div>            
            </div>
          </div>          
            
          <div class="product">
            <div class="row">
              <div class="col-md-4">
                <img src="assets/img/premio.png" class="img-responsive center-block">
              </div>          
              <div class="col-md-8 cont-send-message">
                <br>
                <h1 class="text-18 text-roboto-medium color-414042">NOMBRE DEL PRODUCTO</h1>
                <br>
                <p class="text-12 text-roboto-light color-414042">
                  Lorem ipsum dolor sit amet consectetur adipiscing, elit nisl lacus mi suspendisse vulputate ultrices, quisque aliquam pharetra mattis in. Fringilla sem mauris consequat rhoncus nibh pretium ridiculus feugiat semper laoreet.
                </p>
                <div class="row">
                  <div class="col-md-6"><div class="puntos text-roboto-medium">50 Pts.</div></div>
                  <div class="col-md-6">
                    <p class="cont-btn cont-btn-gray text-16 img-center">
                      <button type="button" id="btnPublish" class="anchor-reset btn btn-blue text-center text-16">Redimir</button>
                    </p>                  
                  </div>
                </div>
              </div>            
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>
