.ul-nav
  list-style: none
  margin: 0
  padding: 0
  transition: all ease 0.5s
  margin-top: 10px
  color: #256288
  li
    margin: 2px
    padding: 0 10px 0 10px
    float: right
    height: 40px
    cursor: pointer
    a
      color: #073b69
      vertical-align: middle
      i
        vertical-align: middle
.hr
  border-top: 2px solid #eee
.dropdown-submenu
  position: relative
  > .dropdown-menu
    // border: 0
    // // background-image:  url(../../assets/img/bg-sub-menu.png)
    // background-size: 100% 100%
    // left: -40%
    // padding: 20px 0 20px 0
    // width: 200px
    // box-shadow: none
    // line-height: 30px
    // background-color: transparent
    background-color: #baf0ff
    width: 100%
    padding: 0
    right: 0
    left: auto
    top: 60%
    li
      float: left
      height: auto
      width: 100%
      padding: 0
      margin: 0
      a
        width: 100%
      &:hover
        a
          color: #ffffff !important
          background-color: #246187 !important
  &:hover
    > .dropdown-menu
      display: block
  &.pull-left
    float: none
    > .dropdown-menu
      left: 0
textarea
  border: 2px solid #dadada
  width: 100%
  border-radius: 10px
  padding: 20px 60px 20px 20px
  resize: none
.cont-send-message
  position: relative
  i
    background-color: #256288
    padding: 5px
    border-radius: 50%
    color: #ffffff
    position: absolute
    right: 3%
    top: 40%
    transform: translate(-50%, -50%)
    -webkit-transform: translate(-50%, -50%)
