<app-header-login></app-header-login>
<div class="container">
  <div class="row">
    <div class="col-md-3 col-md-offset-1 content-profile-left text-center">
      <app-user-data></app-user-data>
    </div>
    <div class="col-md-7 publications">
      <!-- <p class="cont-icons">
        <a href="#">
            <i class="material-icons ico-search text-36">search</i>
          </a>
        <input type="text" class="input-icons text-16 text-roboto-thinItalic input-search" placeholder="Busca más contenidos o a otras Leyendas">
      </p> -->
      <div class="row cont-publications-header text-white text-fsjoey-bold text-24">
        <div class="arrow-left left text-36 text-center">
          <i class="material-icons">keyboard_arrow_left</i>
        </div>
        <div class="arrow-right right">
          <div>
            Contenidos guardados
          </div>
        </div>
      </div>
      <div class="row cont-publications-body" *ngFor="let publication of posts;" id="publication_{{publication.ContentId}}">
        <div class="col-md-12 data-publications">
          <div class="col-md-2">
            <img class="img-center img-profile-publications" src="data:image/png;base64,{{publication.Picture}}" alt="">
          </div>
          <div class="col-md-10">
            <h3 class="text-24 text-fsjoey-bold">
              {{publication.Name}}
            </h3>
          </div>
          <div *ngIf="publication.ContentType=='Image'">
            <div class="col-md-12">
              <img [src]="publication.FilePath" alt="" class="img-responsive img-description-publication">
            </div>
          </div>
          <div *ngIf="publication.ContentType=='Video'">
            <div class="col-md-12">
              <div align="center" class="embed-responsive embed-responsive-16by9">
                  <video controls class="embed-responsive-item">
                      <source [src]="publication.FilePath" type="video/mp4">
                  </video>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <span class="text-16 text-roboto-light">
                {{publication.strContent}}
            </span>
          </div>
          <div class="col-md-12">
            <ul class="ul-nav text-fsjoey-bold">
              <li class="dropdown-submenu li-nav">
                <span>
                  &#x25cb;&#x25cb;&#x25cb;
                </span>
                <ul class="dropdown-menu text-fsjoey">
                  <li class="">
                    <a (click)="reportContent(publication.ContentId)">
                      Reportar contenido
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <span (click)="showCommentsForPost(publication.ContentId)">
                {{publication.CountComment}} <i class="material-icons" >mode_comment</i>
              </span>
              </li>
              <li>
                <span (click)="likePost(publication.ContentId)"  >
                {{publication.CountLike}}
                <i class="material-icons" >thumb_up</i>
              </span>
              </li>
            </ul>
          </div>
          <div class="col-md-12">
            <hr class="hr-2">
          </div>
          <div class="row commentsHolder hidden">
            <div class="col-md-12 ">
              <div class="row" *ngFor="let userComment of publication.ListComment">
                <div class="col-md-2 text-center">
                  <img class="img-center img-profile-publications" src="data:image/png;base64,{{userComment.Picture}}" alt="">
                </div>
                <div class="col-md-10">
                  <h3 class="text-18 text-fsjoey-bold top-publication">
                    {{userComment.FullName}}
                  </h3>
                  <p class="text-16 text-roboto-light">
                    {{userComment.StrComment}}
                  </p>
                  <br>
                </div>
              </div>
              <i class="clickable showMoreText" *ngIf="publication.CountComment>3" (click)="showMoreCommentsForPost(publication.ContentId)">Ver mas</i>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 cont-send-message">
              <textarea placeholder="Mensaje" class="comment"></textarea>
              <br>
            <br>
            <i class="material-icons" (click)=commentPosts(publication.ContentId)>send</i>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>
