<app-header></app-header>
<div class="container container-interna">
  <div class="row">
    <!-- <div class="col-md-3">
      <p>
        &nbsp;
      </p>
    </div> -->
    <div class="col-md-6">
      <form #loginForm='ngForm' >
        <h1 class="text-left text-white">
          <span class="text-roboto-thin">Ingresa tu</span>
          <br>
          <span class="text-medium"> usuario</span> <span class="text-roboto-thin">y </span>
          <br>
          <span class="text-medium">contraseña </span>
          <br>
          <span class="text-roboto-thin">de la red de Sura</span>
          <br>
          <br>
        </h1>
        <p class="cont-icons">
          <i class="material-icons text-white text-36">person</i>
          <input type="text" [(ngModel)]='loginData.UserName' #username='ngModel' name='Usuario' class="input-icons text-16 text-roboto-thinItalic" placeholder="Usuario">
        </p>
        <table class="table-form text-roboto-medium text-16">
          <tr>
            <td>
              <input value="1" type="radio" name="UserTypeId" [(ngModel)]='loginData.UserTypeId' > Empleado
            </td>
            <td>
              <input value="2" type="radio" name="UserTypeId" [(ngModel)]='loginData.UserTypeId' > Asesor
            </td>
            <td>
              <input value="3" type="radio" name="UserTypeId" [(ngModel)]='loginData.UserTypeId' > Otro
            </td>
          </tr>
        </table>
        <p class="cont-icons">
          <i class="material-icons text-white text-36">lock</i>
          <input type="password" class="input-icons text-16 text-roboto-thinItalic" placeholder="Contraseña" name="Password" [(ngModel)]='loginData.Password' (keyup)="onKey($event)">
        </p>
        <!-- <p class="text-right text-white text-14">
          <span class="text-roboto-light">He olvidado</span> <span class="text-roboto-medium text-underline">mi contraseña</span>
          <br>
          <br>
        </p> -->
        <p class="cont-btn cont-btn-white text-24 img-center">
          <button type="button" id="buttonLogin" class="anchor-reset btn btn-white text-center" (click)='login($event)' >Ingresar</button>
        </p>
        <br>
        <p class="text-12 text-white text-roboto-medium">{{message}}</p>
      </form>
    </div>
    <div class="col-md-6 text-center">
      <img src="assets/img/phone.png" alt="" class="img-responsive img-center">
    </div>
    <!-- <div class="col-md-3">
      <p>
        &nbsp;
      </p>
    </div> -->
    <div class="col-md-12">
      <p>
        &nbsp;
      </p>
    </div>
    <div class="col-md-12">
      <p>
        &nbsp;
      </p>
    </div>
    <div class="col-md-12 text-center text-legals text-14">
      <p>
        <a href="/#/terminosycondiciones" class="anchor-reset">
            Términos y condiciones
        </a> |
        <a href="/#/faq" class="anchor-reset">
            Preguntas frecuentes
        </a>
      </p>
    </div>
  </div>
  <img class="img-responsive img-lion" src="assets/img/asset-lion.png" alt="">
</div>
