<app-header-login></app-header-login>
<div class="container">
  <div class="row">
    <div class="col-md-3 col-md-offset-1 content-profile-left text-center">
      <app-user-data></app-user-data>
    </div>
    <div class="col-md-7 publications">
      <p class="cont-icons">
        <a href="#">
            <i class="material-icons ico-search text-36">search</i>
          </a>
        <select name="" id="" class="select text-roboto-regular text-bold">
            <option value="">SURA SEGUROS</option>
            <option value="">SURA SEGUROS</option>
            <option value="">SURA SEGUROS</option>
          </select>
        <input type="text" class="input-icons text-16 text-roboto-thinItalic input-search" placeholder="Busca más contenidos o a otras Leyendas">
      </p>
      <div class="row cont-publications-header text-white text-fsjoey-bold text-24">
        <!-- <div class="arrow-left left text-36 text-center">
          <i class="material-icons">keyboard_arrow_left</i>
        </div> -->
        <div class="with-out-arrow right">
          <div>
            <img class="img-icon-header" src="assets/img/icons/icoLegend.png" alt=""> Leyendas del servicio SURA
          </div>
        </div>
      </div>
      <div class="row cont-publications-body">
        <div class="col-md-12 cont-slide">
          <img src="assets/img/slides/legend/slide-1.jpg" alt="">
          <!-- <img src="assets/img/slides/legend/slide-2.jpg" alt="">
          <img src="assets/img/slides/legend/slide-3.jpg" alt=""> -->
        </div>

        <div class="col-md-12">
          <p>
            &nbsp;
          </p>
        </div>
        <!-- Leyenda -->
        <div *ngFor="let legend of legends;">


          <div class="col-md-12 data-publications data-legend">
            <div class="col-md-4 text-center text-white">
              <img class="img-center img-profile-legend" src="data:image/png;base64,{{legend.Picture}}" alt="">
            </div>
            <div class="col-md-6 line-15">
              <a href="/#/user-profile/{{legend.UserId}}">
                <h2 class="color-4f4f50 text-fsjoey-bold text-24">
              {{legend.Name}}
            </h2>
              </a>
              <span class="text-fsjoey-light color-256288">
                    {{legend.Mail}}
                </span>
              <br>
              <span class="text-fsjoey-bold color-256288">
                    {{legend.Company}}
                </span>
              <br>
              <span class="text-fsjoey color-256288">
                    {{legend.City}}
                </span>
              <br>
              <br>
              <div class="col-md-4 text-left text-roboto-light cont-data color-256288">
                <span class="text-30">
                        {{legend.Follows}}
                    </span>
                <br> Seguidos
              </div>
              <div class="col-md-4 text-left text-roboto-light cont-data color-256288">
                <span class="text-30">
                          {{legend.Followers}}
                      </span>
                <br> Seguidores
              </div>
              <div class="col-md-4 text-left text-roboto-light cont-data color-256288">
                <span class="text-30">
                          {{legend.Votes}}
                      </span>
                <br> Votos
              </div>
            </div>
            <div class="col-md-2 text-center line-40">
              <span data-placement="left" (click)="followUser(legend.UserId)" [class]="legend.IsFollow?'followed':'target-disabled'">
              <i class="material-icons icon-add"  data-toggle="tooltip" [title]="legend.IsFollow?'Dejar de seguir':'Seguir'" >person_add</i>
            </span>
              <br>
              <span (click)="openModal(legend.UserId)" data-placement="left" [class]="legend.IsVoted?'voted':'target-disabled'">
                <i class="material-icons icon-vote" data-toggle="tooltip" title="Votar" >check_circle</i>
              </span>
            </div>
            <div class="col-md-12 cont-data">
              <hr>
            </div>
            <!-- Modal confirm voting -->

          </div>
          <!-- Fin Leyenda -->
          <div id="confirm-votin-{{legend.UserId}}" class="modal fade" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-body text-center">
                  <div class="row cont-publications-header text-white text-fsjoey-bold text-24">
                    <div class="arrow-left left text-36 text-center" data-dismiss="modal">
                      <i class="material-icons text-white align-bottom" >keyboard_arrow_left</i>
                    </div>
                    <div class="arrow-right right">
                      <div class="text-white text-left">
                        Confirmación de votación
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 cont-info text-center">
                    <div class="cont-profile img-center">
                      <img class="img-center img-profile" src="data:image/png;base64,{{legend.Picture}}" alt="">
                    </div>
                    <p class="text-roboto-medium color-4f4f4f text-20">
                      {{legend.Name}}
                    </p>
                    <p class="color-2d69a0 text-14 line-height-15">
                      <span class="text-fsjoey-light">
                              {{legend.Mail}}
                            </span>
                      <br>
                      <span class="text-fsjoey-bold">
                              {{legend.Company}}
                            </span>
                      <br>
                      <span class="text-fsjoey">
                              {{legend.City}}
                            </span>
                    </p>
                    <p class="text-roboto-thin text-36 color-2d69a0">
                      Escribe a continuación las razones de tu voto:
                    </p>
                  </div>
                  <div class="col-md-12 cont-send-message">
                    <textarea placeholder="Escribe tu comentario" class="voteMessage"></textarea>
                  </div>
                  {{message}}
                </div>
                <div class="modal-footer">
                  <div class="col-md-6">
                    <p class="cont-btn cont-btn-gray text-16 img-center">
                      <button type="submit" class="anchor-reset btn btn-gray text-center text-white" data-dismiss="modal">Cancelar</button>
                    </p>
                  </div>
                  <div class="col-md-6">
                    <p class="cont-btn cont-btn-blue text-16 img-center">
                      <button type="submit" class="anchor-reset btn btn-blue text-center text-white" (click)="vote(legend.UserId)">Aceptar</button>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>
