/* Default classes */
/* kebab-case */

/* -- text styles -- */

/* text style */
.text
	&-bold
		font-weight: bold
	&-normal
		font-weight: normal
	&-italic
		font-style: italic
	&-underline
		text-decoration: underline

/* text size */
.text
	&-11
		font-size: 11px
	&-12
		font-size: 12px
	&-14
		font-size: 14px !important
	&-16
		font-size: 16px !important
	&-18
		font-size: 18px
	&-20
		font-size: 20px
	&-22
		font-size: 22px
	&-24
		font-size: 24px
	&-28
		font-size: 28px
	&-30
		font-size: 30px
	&-32
		font-size: 32px
	&-34
		font-size: 34px
	&-36
		font-size: 36px
	&-46
		font-size: 46px
	&-133
		font-size: 133px

/* text color */
.text
	&-black
		color: #000000
	&-white
		color: #ffffff
	&-red
		color: #f44336
	&-pink
		color: #e91e63
	&-purple
		color: #9c27b0
	&-deeppurple
		color: #673ab7
	&-indigo
		color: #3f51b5
	&-blue
		color: #2196f3
	&-lightblue
		color: #03a9f4
	&-cyan
		color: #00bcd4
	&-teal
		color: #009688
	&-green
		color: #4caf50
	&-lightgreen
		color: #8bc34a
	&-lime
		color: #cddc39
	&-yellow
		color: #ffeb3b
	&-amber
		color: #ffc107
	&-orange
		color: #ff9800
	&-deeporange
		color: #ff5722
	&-brown
		color: #795548
	&-grey
		color: #9e9e9e
	&-bluegrey
		color: #607d8b

/* text align */
.text
	&-left
		text-align: left
	&-center
		text-align: center
	&-right
		text-align: right
	&-justify
		text-align: justify

/* Anchor style */

.anchor-reset
	text-decoration: none
	&:hover
		text-decoration: none

/* -- general styles -- */

.left
	float: left
.right
	float: right
.align-bottom
	vertical-align: bottom !important

/* background color */
.bg
	&-black
		background-color: #000000
	&-white
		background-color: #ffffff
	&-red
		background-color: #f44336
	&-pink
		background-color: #e91e63
	&-purple
		background-color: #9c27b0
	&-deeppurple
		background-color: #673ab7
	&-indigo
		background-color: #3f51b5
	&-blue
		background-color: #2196f3
	&-lightblue
		background-color: #03a9f4
	&-cyan
		background-color: #00bcd4
	&-teal
		background-color: #009688
	&-green
		background-color: #4caf50
	&-lightgreen
		background-color: #8bc34a
	&-lime
		background-color: #cddc39
	&-yellow
		background-color: #ffeb3b
	&-amber
		background-color: #ffc107
	&-orange
		background-color: #ff9800
	&-deeporange
		background-color: #ff5722
	&-brown
		background-color: #795548
	&-grey
		background-color: #9e9e9e
	&-bluegrey
		background-color: #607d8b

/* End default classes */