@font-face
  font-family: 'Roboto-Thin'
  src: url('assets/fonts/Roboto-Thin/Roboto-Thin.eot?#iefix') format("embedded-opentype"), url('assets/fonts/Roboto-Thin/Roboto-Thin.woff') format("woff"), url('assets/fonts/Roboto-Thin/Roboto-Thin.ttf') format("truetype"), url('assets/fonts/Roboto-Thin/Roboto-Thin.svg#Roboto-Thin') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Roboto-Medium'
  src: url('assets/fonts/Roboto-Medium/Roboto-Medium.eot?#iefix') format("embedded-opentype"), url('assets/fonts/Roboto-Medium/Roboto-Medium.woff') format("woff"), url('assets/fonts/Roboto-Medium/Roboto-Medium.ttf') format("truetype"), url('assets/fonts/Roboto-Medium/Roboto-Medium.svg#Roboto-Medium') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Roboto-Light'
  src: url('assets/fonts/Roboto-Light/Roboto-Light.eot?#iefix') format("embedded-opentype"), url('assets/fonts/Roboto-Light/Roboto-Light.woff') format("woff"), url('assets/fonts/Roboto-Light/Roboto-Light.ttf') format("truetype"), url('assets/fonts/Roboto-Light/Roboto-Light.svg#Roboto-Light') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Roboto-ThinItalic'
  src: url('assets/fonts/Roboto-ThinItalic/Roboto-ThinItalic.eot?#iefix') format("embedded-opentype"), url('assets/fonts/Roboto-ThinItalic/Roboto-ThinItalic.woff') format("woff"), url('assets/fonts/Roboto-ThinItalic/Roboto-ThinItalic.ttf') format("truetype"), url('assets/fonts/Roboto-ThinItalic/Roboto-ThinItalic.svg#Roboto-ThinItalic') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'FSJoey'
  src: url('assets/fonts/FSJoey/FSJoey.eot?#iefix') format("embedded-opentype"), url('assets/fonts/FSJoey/FSJoey.woff') format("woff"), url('assets/fonts/FSJoey/FSJoey.ttf') format("truetype"), url('assets/fonts/FSJoey/FSJoey.svg#FSJoey') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Roboto-Regular'
  src: url('assets/fonts/Roboto-Regular/Roboto-Regular.eot?#iefix') format("embedded-opentype"), url('assets/fonts/Roboto-Regular/Roboto-Regular.woff') format("woff"), url('assets/fonts/Roboto-Regular/Roboto-Regular.ttf') format("truetype"), url('assets/fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'FSJoey-Bold'
  src: url('assets/fonts/FSJoey-Bold/FSJoey-Bold.eot?#iefix') format("embedded-opentype"), url('assets/fonts/FSJoey-Bold/FSJoey-Bold.woff') format("woff"), url('assets/fonts/FSJoey-Bold/FSJoey-Bold.ttf') format("truetype"), url('assets/fonts/FSJoey-Bold/FSJoey-Bold.svg#FSJoey-Bold') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'FSJoey-Light'
  src: url('assets/fonts/FSJoey-Light/FSJoey-Light.eot?#iefix') format("embedded-opentype"), url('assets/fonts/FSJoey-Light/FSJoey-Light.woff') format("woff"), url('assets/fonts/FSJoey-Light/FSJoey-Light.ttf') format("truetype"), url('assets/fonts/FSJoey-Light/FSJoey-Light.svg#FSJoey-Light') format("svg")
  font-weight: normal
  font-style: normal