<app-header-login></app-header-login>

<div class="container">
  <div class="row">
    <div class="col-md-3 col-md-offset-1 content-profile-left text-center">
      <app-user-data name="Maria Fernanda Bustamante"></app-user-data>
    </div>
    <div class="col-md-7 publications">
      <div class="row cont-publications-header text-white text-fsjoey-bold text-24">
        <div class="arrow-left left text-36 text-center">
          <i class="material-icons">keyboard_arrow_left</i>
        </div>
        <div class="arrow-right right">
          <div class='text-20'>
            Descubre las cualidades ocultas de nuestros clientes
          </div>
        </div>
      </div>
      <br>
      <div class="row cont-publications-body legals" *ngFor="let publication of challenges;">
        <div class="col-md-12 data-publications star-mark">
          <div *ngIf="publication.ContentType=='Image'">
            <div class="col-md-12">
              <img [src]="publication.FilePath" alt="" class="img-responsive img-description-publication">
            </div>
          </div>
          <div *ngIf="publication.ContentType=='Video'">
            <div class="col-md-12">
              <div align="center" class="embed-responsive embed-responsive-16by9">
                <video controls class="embed-responsive-item">
                  <source [src]="publication.FilePath" type="video/mp4">
                  </video>
                </div>
              </div>
            </div>
            <div class="col-md-12 cont-send-message">
              <p class="text-roboto-light text-14 color-414042">
                {{publication.ChallengeDescription}}
              </p>
              <p class="text-roboto-light text-14 color-414042">
                Fecha límite para participar: <span class="text-roboto-medium">{{publication.LimitDateChallenge}}</span>
                <br>

              </p>
            </div>
            <div class="col-md-6">
              <p class="cont-btn cont-btn-blue img-center">
                <button type="button" class="anchor-reset btn btn-blue text-center" (click)="loadDetailReto(publication)" >Ver detalle del reto</button>
              </p>
              <br><br>
            </div>
            <div class="col-md-6">
              <ul class="ul-nav text-fsjoey-bold">
                <li class="dropdown-submenu li-nav">
                  <span>
                    &#x25cb;&#x25cb;&#x25cb;
                  </span>
                  <ul class="dropdown-menu text-fsjoey">
                    <li class="">
                      <a>
                        Reportar contenido
                      </a>
                    </li>
                    <li class="">
                      <a>
                        Guardar contenido
                      </a>
                    </li>
                  </ul>
                </li>
                <li>
                  <span>
                     <i class="material-icons" >mode_comment</i>
                  </span>
                </li>
                <li>
                  <span>
                    <i class="material-icons likeIcon" >thumb_up</i>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </div>
