.dropdown-submenu
  position: relative
  > .dropdown-menu
    // border: 0
    // // background-image:  url(../../assets/img/bg-sub-menu.png)
    // background-size: 100% 100%
    // left: -40%
    // padding: 20px 0 20px 0
    // width: 200px
    // box-shadow: none
    // line-height: 30px
    // background-color: transparent
    background-color: #baf0ff
    width: 100%
    padding: 0
    right: 0
    left: auto
    top: 60%
    li
      float: left
      height: auto
      width: 100%
      padding: 0
      margin: 0
      a
        width: 100%
      &:hover
        a
          color: #ffffff !important
          background-color: #246187 !important
  &:hover
    > .dropdown-menu
      display: block
  &.pull-left
    float: none
    > .dropdown-menu
      left: 0