<app-header-login></app-header-login>
<div class="container container-interna">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-white text-center">
        <span class="text-roboto-thin">¡Todos podemos </span><span class="text-medium">ser leyendas!</span>
      </h1>
    </div>
    <div class="col-md-12">
      <p>
        &nbsp;
      </p>
    </div>
    <div class="col-md-12 text-center">
      <div class="cont-profile img-center">
        <img class="img-center img-profile" src="data:image/png;base64,{{user.Picture}}" alt="">
        <i class="material-icons ico-edit-profile">mode_edit</i>
      </div>
    </div>
    <div class="col-md-12">
      <p>
        &nbsp;
      </p>
    </div>
    <div class="col-md-12">
      <h1 class="text-white text-center text-roboto-thin">
        {{user.Name}}
      </h1>
      <p class="text-roboto-light text-center text-14 text-fffe89">
        Verifica y actualiza tus datos
      </p>
    </div>
    <div class="col-md-12">
      <p>
        &nbsp;
      </p>
    </div>
    <!-- <div class="cont-separator col-md-3 cont-forms">
      <p>
        &nbsp;
      </p>
    </div> -->
    <div class="col-md-6 cont-forms">
      <p>
        <select name="CityId" id=""  [(ngModel)]='updateInfo.CityId'>
          <option value="">Tu ciudad</option>
          <option *ngFor="let city of cities"  [value]="city.Id" [attr.selected]="city.Id==updateInfo.CityId ? true : null">{{city.Name}}</option>
        </select>
      </p>
    </div>
    <div class="col-md-6 cont-forms">
      <p>
        <select name="CompanyId" id="" [(ngModel)]='updateInfo.CompanyId'>
          <option value="">Tu compañia</option>
          <option *ngFor="let company of companies"  [value]=company.Id [attr.selected]="company.Id==updateInfo.CompanyId ? true : null">{{company.Name}}</option>
        </select>
      </p>
    </div>
    <div class="col-md-6 cont-forms">
      <p class="cont-icons">
        <i class="material-icons text-white text-36">email</i>
        <input type="text" class="input-icons text-14 text-roboto-thinItalic" name="EmailBase" [(ngModel)]='updateInfo.EmailBase' placeholder="Tu correo corporativo" [value]="updateInfo.EmailBase">
      </p>
    </div>
    <div class="col-md-6 cont-forms">
      <p>
        <select name="DomainName" id="" class="text-roboto-medium" [(ngModel)]='updateInfo.DomainName' >
          <option *ngFor="let domain of domains" [value]="domain.DomainName"   [attr.selected]="domain.DomainName==updateInfo.DomainName ? true : null">{{domain.DomainName}}</option>
        </select>
      </p>
    </div>

    <div class="col-md-12">
      <p>
        &nbsp;
      </p>
    </div>
    <div class="col-md-12">
      <p class="cont-btn cont-btn-white text-24 img-center">
        <button (click)="updateData($event)" class="anchor-reset btn btn-white text-center">Aceptar</button>
      </p>
      <p class="text-12 text-white text-roboto-medium text-center">
        <br>
        {{message}}
      </p>
    </div>
    <div class="col-md-12">
      <p>
        &nbsp;
      </p>
      <p>
        &nbsp;
      </p>
    </div>
    <div class="col-md-12 text-center text-legals text-14">
      <p>
        <a href="/#/terminosycondiciones" class="anchor-reset">
          Términos y condiciones
        </a> |
        <a href="/#/faq" class="anchor-reset">
          Preguntas frecuentes
        </a>
      </p>
    </div>
  </div>
  <img class="img-responsive img-lion img-lion-login" src="assets/img/asset-lion-2.png" alt="">
</div>
