<app-header-login></app-header-login>

<div class="container">
  <div class="row">
    <div class="col-md-3 col-md-offset-1 content-profile-left text-center">
      <app-user-data name="Maria Fernanda Bustamante"></app-user-data>
    </div>
    <div class="col-md-7 publications">
      <div class="row cont-publications-header text-white text-fsjoey-bold text-24">
        <div class="arrow-left left text-36 text-center" (click)="returnRetos()">
          <i class="material-icons">keyboard_arrow_left</i>
        </div>
        <div class="arrow-right right">
          <div class='text-20'>
            RETOS
          </div>
        </div>
      </div>
      <br>
      <div class="row cont-publications-body legals" *ngFor="let publication of challenges;">
        <div class="col-md-12 data-publications star-mark">
          <div class="col-md-12 cont-send-message">
            <p class="text-roboto-medium text-14 color-414042">
              {{ publication.ChallegeTitle }}
            </p>
          </div>          
          <div *ngIf="publication.ContentTypeDescription=='Image'">
            <div class="col-md-12">
              <img [src]="publication.FilePath" alt="" class="img-responsive img-description-publication">
            </div>
          </div>
          <div *ngIf="publication.ContentTypeDescription=='Video'">
            <div class="col-md-12">
              <div align="center" class="embed-responsive embed-responsive-16by9">
                <video controls class="embed-responsive-item">
                  <source [src]="publication.FilePath" type="video/mp4">
                </video>
              </div>
            </div>
          </div>
          <div class="col-md-12 cont-send-message">
            <p class="text-roboto-light text-14 color-414042">
              {{publication.ChallengeDescription}}
            </p>
            <p class="text-roboto-light text-14 color-414042">
              Fecha límite para participar: <span class="text-roboto-medium">{{publication.ChallengeLimitDate}}</span>
              <br>
            </p>
          </div>
          <div *ngIf="publication.ChallengeTypeDescription == 'Video'">
            <div class="col-md-12 cont-send-message">
              <div class="selectFile mrgTop">
                <div class="selectFileCtrl" (click)="openFiles()">Seleccionar archivo</div> {{ nameFileVideos }}
                <input type="file" class="hidden" (change)="fileChangeEvent($event, 'vid')" name="myFiles" id="myFiles" accept="video/mp4" />
                <br><br>
                <textarea placeholder="Texto a publicar" class="textAreaComments" [(ngModel)]="commentsImage"></textarea>
                <br><br>
                <div class="row">
                  <div class="col-md-6">
                    <p class="cont-btn cont-btn-gray text-16 img-center">
                      <button type="button" class="anchor-reset btn btn-gray text-center text-16" (click)="returnRetos()">Cancelar</button>
                    </p>          
                  </div>
                  <div class="col-md-6">
                    <p class="cont-btn cont-btn-gray text-16 img-center">
                      <button type="button" id="bntReden" class="anchor-reset btn btn-blue text-center text-16" (click)="retoImagen()">{{ txtBtnReto }}</button>
                    </p>          
                  </div>
                </div>                
              </div>
            </div>
          </div>

          
          <div *ngIf="publication.ChallengeTypeDescription == 'Imagen'">
            <div class="col-md-12 cont-send-message">
              <div class="selectFile mrgTop">
                <div class="selectFileCtrl" (click)="openFiles()">Seleccionar archivo</div> {{ nameFile }}
                <input type="file" class="hidden" (change)="fileChangeEvent($event, 'img')" name="myFiles" id="myFiles" accept="image/x-png,image/gif,image/jpeg" />
                <br><br>
                <textarea placeholder="Texto a publicar" class="textAreaComments" [(ngModel)]="commentsImage"  ></textarea>                
                <br><br>
                <div class="row">
                  <div class="col-md-6">
                    <p class="cont-btn cont-btn-gray text-16 img-center">
                      <button type="button" class="anchor-reset btn btn-gray text-center text-16" (click)="returnRetos()">Cancelar</button>
                    </p>          
                  </div>
                  <div class="col-md-6">
                    <p class="cont-btn cont-btn-gray text-16 img-center">
                      <button type="button" id="bntReden" class="anchor-reset btn btn-blue text-center text-16" (click)="retoImagen()">{{ txtBtnReto }}</button>
                    </p>          
                  </div>
                </div>                
              </div>
            </div>
          </div>
          <div *ngIf="publication.ArrayQuestion.length>0 && !showDoneTrivia ">
            <div class="col-md-12 cont-send-message">
              <div class="displayPreguntas">
                <div id="carouselQustions" class="carousel slide" data-ride="carousel" data-interval="false">
                  <div class="carousel-inner" role="listbox">
                    <div *ngFor="let pregunta of publication.ArrayQuestion; let i = index" class="item" [ngClass]="{'active': i == 0}" >
                        <p class="text-roboto-medium text-14 color-414042">{{ pregunta.StrQuestion }}</p>
                      <div class="respuestas">
                        <ul>
                          <li *ngFor="let respuesta of pregunta.ListAnswer" id="Q_{{ respuesta.AnswerId }}">
                            <label class="text-roboto-light text-14 color-414042 containerOption" (click)="validateAnswerService(respuesta)">{{ respuesta.StrAnswer }}
                              <input type="radio" name="res{{ pregunta.QuestionId }}" value="{{ respuesta.AnswerId }}">
                              <span class="checkmark"></span>
                            </label>                      
                          </li>
                        </ul>
                      </div>                  
                    </div>  
                  </div>
                </div>
              </div>
              <p class="cont-btn cont-btn-blue text-16 img-center">
                <button type="button" id="btnPublish" class="anchor-reset btn btn-blue text-center text-16" (click)="validateAnswer()">{{ txtButtonAnswer }}</button>
              </p>
              <br><br>
            </div>                      
          </div>

          <div *ngIf="showDoneTrivia">
            <div class="doneTrivia">
              <div class="itemDone text-roboto-medium">
                  <img src="assets/img/starRed.png">Resultado del reto
                </div>
              <div class="textDone">
                {{publication.ChallengeDescription}}
              </div>
              <div class="itemDone blue text-roboto-medium"><img src="assets/img/starWhite.png">Preguntas correctas: {{ aswersGood }}</div>
              <div class="itemDone red text-roboto-medium"><img src="assets/img/starWhite.png">Puntos ganados: {{ sumPoints }}</div>
            </div>
            <p class="cont-btn cont-btn-gray text-16 img-center">
              <button type="button" id="btnPublish" class="anchor-reset btn btn-blue text-center text-16" (click)="returnRetos()">Cerrar</button>
            </p>
            <br><br>
          </div>

            
        </div>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>
