
.mrgTop
  margin: 30px 0
  padding: 10px 0
  clear: both

.itemDone
  width: 100%
  max-width: 355px
  margin: 10px auto
  padding: 2px 15px 4px
  border-radius: 30px
  background: #ffffff
  color: #21578e
  img
    margin: 0 5px 0 0
  &.blue
    background: #21578e
    color: #ffffff
  &.red
    background: #c63528
    color: #ffffff


.textDone
  width: 100%
  max-width: 355px
  margin: 10px auto
  padding: 15px

.doneTrivia
  padding: 30px
  background: #e4e3e4
  border-radius: 15px
  clear: both
  margin: 15px 0

.respuestas
  ul
    list-style: none
    padding: 0
    li
      padding: 10px 30px 5px
      border-radius: 30px
      &.success
        background: #afe57b
      &.bad
        background: #e84456
        label
          color: #ffffff !important



.displayPreguntas
  margin: 30px 0 0 0

.containerOption
  display: block
  position: relative
  padding-left: 35px
  margin-bottom: 12px
  cursor: pointer
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  input
    position: absolute
    opacity: 0

.checkmark
  position: absolute
  top: 0
  left: 0
  height: 25px
  width: 25px
  background-color: #eee
  border-radius: 3px

.containerOption
  &:hover input ~ .checkmark
    background-color: #414141
  input:checked ~ .checkmark
    background-color: #414141

.checkmark:after
  content: ""
  position: absolute
  display: none

.containerOption
  input:checked ~ .checkmark:after
    display: block
  .checkmark:after
    left: 9px
    top: 0
    width: 9px
    height: 18px
    border: solid white
    border-width: 0 3px 3px 0
    -webkit-transform: rotate(45deg)
    -ms-transform: rotate(45deg)
    transform: rotate(45deg)