.img-icon-header
  max-width: 35px
.cont-slide
  padding: 0
  img
    width: 100%
    height: 275px
.data-publicationss
  line-height: 15px
  padding: 15px
  h2
    margin: 0

  div
    height: 80px
    display: table
    a
      display: table-cell
      vertical-align: middle
.color-256288
  color: #256288
.icon-add
  padding: 5px 15px 5px 15px
  border-radius: 5px
  background-color: #256288
  color: #ffffff
  transition: all ease 0.5s
  &:hover
    background-color: #1a445e
    color: #ffffff
.icon-vote
  padding: 5px 15px 5px 15px
  border-radius: 5px
  background-color: #00a295
  color: #ffffff
  transition: all ease 0.5s
  &:hover
    background-color: #027067
    color: #ffffff
.legend-one
  background-color: #eef7ff
  -webkit-box-shadow: 0px -10px 0px 0px rgba(0,136,255,0.2)
  -moz-box-shadow: 0px -10px 0px 0px rgba(0,136,255,0.2)
  box-shadow: 0px -10px 0px 0px rgba(0,136,255,0.2)
  div
    background-color: #eef7ff
.select
  position: absolute
  width: 30%
  height: 35px
  top: 50%
  transform: translate(-50%, -50%)
  -webkit-transform: translate(-50%, -50%)
  right: -14%
.input-search
  padding: 10px 185px 10px 55px
.display-grid
  display: grid !important
.target-disabled
  color: #ffffff
  i
    background-color: #e1e1e1
  &:hover
    i
      background-color: #cbcbcb
.img-profile-legend
  width: 140px
  border-radius: 50%
  height: 140px
  border: 3px solid #346ca0
  padding: 3px
  margin: 0 auto
.line-15
  line-height: 15px
.data-legend div
  height: 160px
  h2
    margin-top: 0
.cont-data
  height: auto !important
.line-40
  line-height: 40px
