<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-3 col-md-offset-1 content-profile-left text-center">
    </div>
    <div class="col-md-7 publications">
      <div class="row cont-publications-header text-white text-fsjoey-bold text-24">
        <div class="arrow-left left text-36 text-center">
          <i class="material-icons" (click)="goBack()">keyboard_arrow_left</i>
        </div>
        <div class="arrow-right right">
          <div>
            Términos y condiciones
          </div>
        </div>
      </div>
      <div class="row cont-publications-body legals">
        <div class="col-md-12 data-publications">
          <!-- <div class="col-md-6">
            <h1 class="text-roboto-thin text-40">
              Términos y condiciones
            </h1>
          </div> -->
          <div class="col-md-6" >
            <p class="cont-btn cont-btn-blue text-24 img-center" *ngIf="!isLoggedIn">
              <input type="button" class="anchor-reset btn btn-blue text-center text-white"  (click)="goToLogin()" value="Ingresar">
            </p>
          </div>
          <div class="col-md-12">
            <p>
              &nbsp;
            </p>
          </div>
          <div class="col-md-12" [innerHTML]="terms">
          <div class="col-md-12">
            <p>
              &nbsp;
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
  <img class="img-responsive img-lion" src="assets/img/asset-lion-2.png" alt="">
</div>
