<app-header-login></app-header-login>
<div class="container">
  <div class="row">
    <div class="col-md-3 col-md-offset-1 content-profile-left text-center">
    </div>
    <div class="col-md-7 publications">


      <div class="col-md-4">
        <div class="cont-profile img-center text-center">
          <img class="img-center img-profile" src="data:image/png;base64,{{user.Picture}}" alt="">
          <img class="bullet-profile" src="assets/img/bullet-profile.png" alt="">
        </div>
      </div>
      <div class="col-md-8">
        <p class="text-fsjoey-bold text-white text-20">
          {{user.Name}}
        </p>
        <p class="text-blue-profile text-14 line-height-15">
          <span class="text-fsjoey-light">
            <a href="mailto:{{user.Email}}" class="text-blue-profile">
              {{user.Email}}
            </a>
        </span>
          <br>
          <span class="text-fsjoey-bold">
            {{company}} - <span class="text-fsjoey">{{city}}</span>
          </span>
          <br>

        </p>
        <div class="col-md-4 text-left text-white text-roboto-light cont-data">
          <span class="text-30">
              {{followersInfo.Follows}}
          </span>
          <br> Seguidos
        </div>
        <div class="col-md-4 text-left text-white text-roboto-light cont-data">
          <span class="text-30">
                {{followersInfo.Followers}}
            </span>
          <br> Seguidores
        </div>
        <div class="col-md-4 text-left text-white text-roboto-light cont-data">
          <span class="text-30">
                {{followersInfo.Votes}}
            </span>
          <br> Votos
        </div>
      </div>
      <div class="col-md-12">
        <hr class="hr">
      </div>
      <div class="col-md-2 text-133 text-white text-arial text-center" *ngIf="user.Summary">
        “
      </div>
      <div class="col-md-8 text-center text-white text-18 text-roboto-thin">
        <br> {{user.Summary}}
      </div>
      <div class="col-md-2 text-133 text-white text-arial text-center commits">
        <div class="text-12 edit-absolute">
          <a href="/#/update-data">Editar <i class="material-icons text-16">mode_edit</i></a>
        </div>
        <span  *ngIf="user.Summary">
          ”
        </span>
      </div>
      <div class="row cont-publications-body" *ngFor="let publication of posts;" id="publication_{{publication.ContentId}}">
        <div class="col-md-12 data-publications">
          <div class="col-md-2">
            <img class="img-center img-profile-publications" src="data:image/png;base64,{{publication.Picture}}" alt="">
          </div>
          <div class="col-md-10">
            <h3 class="text-24 text-fsjoey-bold">
              {{publication.Name}}
            </h3>
          </div>
          <div class="col-md-12">
            <p>
              &nbsp;
            </p>
          </div>
          <div *ngIf="publication.ContentType=='Image'">
            <div class="col-md-12">
              <img [src]="publication.FilePath" alt="" class="img-responsive img-description-publication">
            </div>
          </div>
          <div *ngIf="publication.ContentType=='Video'">
            <div class="col-md-12">
              <div align="center" class="embed-responsive embed-responsive-16by9">
                  <video controls class="embed-responsive-item">
                      <source [src]="publication.FilePath" type="video/mp4">
                  </video>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <span class="text-16 text-roboto-light">
                {{publication.strContent}}
            </span>
          </div>
          <div class="col-md-12">
            <ul class="ul-nav text-fsjoey-bold">
              <li class="dropdown-submenu li-nav">
                <span>
                  &#x25cb;&#x25cb;&#x25cb;
                </span>
                <ul class="dropdown-menu text-fsjoey">
                  <li class="">
                    <a (click)="reportContent(publication.ContentId)">
                      Reportar contenido
                    </a>
                  </li>
                  <li class="">
                    <a (click)="savePost(publication.ContentId)">
                      Guardar contenido
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <span (click)="showCommentsForPost(publication.ContentId)">
                {{publication.CountComment}} <i class="material-icons" >mode_comment</i>
              </span>
              </li>
              <li>
                <span (click)="likePost(publication.ContentId)"  >
                {{publication.CountLike}}
                <i class="material-icons" >thumb_up</i>
              </span>
              </li>
            </ul>
          </div>
          <div class="col-md-12">
            <hr class="hr-2">
          </div>
          <div class="row commentsHolder hidden">
            <div class="col-md-12 ">
              <div class="row" *ngFor="let userComment of publication.ListComment">
                <div class="col-md-2 text-center">
                  <img class="img-center img-profile-publications" src="data:image/png;base64,{{userComment.Picture}}" alt="">
                </div>
                <div class="col-md-10">
                  <h3 class="text-18 text-fsjoey-bold top-publication">
                    {{userComment.FullName}}
                  </h3>
                  <p class="text-16 text-roboto-light">
                    {{userComment.StrComment}}
                  </p>
                  <br>
                </div>
              </div>
              <i class="clickable showMoreText" *ngIf="publication.CountComment>3" (click)="showMoreCommentsForPost(publication.ContentId)">Ver mas</i>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 cont-send-message">
              <textarea placeholder="Escribe tu comentario" class="comment"></textarea>
              <br>
            <br>
            <i class="material-icons" (click)=commentPosts(publication.ContentId)>send</i>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>
