<app-header-login></app-header-login>
<div class="container">
  <div class="row">
    <div class="col-md-3 col-md-offset-1 content-profile-left text-center">
      <app-user-data name=""></app-user-data>
    </div>
    <div class="col-md-7 publications"  >
      <!-- <p class="cont-icons">
        <a href="#">
            <i class="material-icons ico-search text-36">search</i>
          </a>
        <input type="text" class="input-icons text-16 text-roboto-thinItalic input-search" placeholder="Busca más contenidos o a otras Leyendas">
      </p> -->
      <div class="row cont-publications-body text-center">
        <div class="col-md-3 text-white line-separator-right">
          <div class="text-white" (click)="activeView(3)">
            <i class="material-icons text-46">camera_alt</i>
            <br>
            Foto
          </div>
        </div>
        <div class="col-md-3 text-white line-separator-right">
          <div class="text-white" (click)="activeView(2)">
            <i class="material-icons text-46">videocam</i>
            <br>
            Video
          </div>
        </div>
        <div class="col-md-3 text-white line-separator-right">
          <div class="text-white">
            <i class="material-icons text-46">assistant_photo</i>
            <br>
            Evento
          </div>
        </div>
        <div class="col-md-3 text-white">
          <div class="text-white" (click)="activeView(1)">
            <i class="material-icons text-46">comment</i>
            <br>
            Exprésate
          </div>
        </div>
        <div class="col-md-12 cont-publications" [ngClass]="{
          'expresate': mainContentType === 1,
          'video': mainContentType === 2,
          'imagen': mainContentType === 3,
          'evento': mainContentType === 4
        }">
          <div class="row">
            <div class="col-md-8">
              <!-- <input type="file" class="btn btn-blue text-14"> -->
              <p class="p-separator">
                &nbsp;
              </p>
              <div class="selectFile" *ngIf="showUploadPhoto">
                <div class="selectFileCtrl" (click)="openFiles()">Seleccionar archivo</div> {{ nameFile }}
                <input type="file" class="hidden" (change)="fileChangeEvent($event, 'img')" name="myFiles" id="myFiles" accept="image/x-png,image/gif,image/jpeg" />
              </div>
              <div class="selectFile" *ngIf="showUploadVideo">
                <div class="selectFileCtrl" (click)="openFilesVideos()">Seleccionar archivo</div> {{ nameFileVideos }}
                <input type="file" class="hidden" (change)="fileChangeEvent($event, 'vid')" name="myFilesVideos" id="myFilesVideos" accept="video/mp4" />
              </div>
              
              <textarea placeholder="Escribe tu comentario" class="comment" [(ngModel)]="commentUser" ></textarea>
            </div>
            <div class="col-md-4">
              <p class="cont-btn cont-btn-blue text-16 img-center">
                <button type="button" id="btnPublish" class="anchor-reset btn btn-blue text-center text-16" (click)="publicPost()" >Publicar</button>
              </p>
              <p class="p-separator">
                &nbsp;
              </p>
              <p class="cont-btn cont-btn-gray text-16 img-center">
                <button type="button" class="anchor-reset btn btn-gray text-center text-16">Cancelar</button>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row cont-publications-body" *ngFor="let publication of posts;" id="publication_{{publication.ContentId}}">
        <div class="col-md-12 data-publications">
          <span *ngIf="publication.UserId==user.UserId">
            <div class="col-md-2">
              <img class="img-center img-profile-publications" src="data:image/png;base64,{{publication.Picture}}" alt="">
            </div> 
            <div class="col-md-10">
              <h3 class="text-24 text-fsjoey-bold">
                {{publication.Name}}
              </h3>
            </div>
          </span>
          <a *ngIf="publication.UserId!=user.UserId" href="/#/user-profile/{{publication.UserId}}">
            <div class="col-md-2">
              <img class="img-center img-profile-publications" src="data:image/png;base64,{{publication.Picture}}" alt="">
            </div>
            <div class="col-md-10">
              <h3 class="text-24 text-fsjoey-bold">
                {{publication.Name}}
              </h3>
            </div>
          </a>
          <div class="col-md-12">
            <p>
              &nbsp;
            </p>
          </div>
          <div *ngIf="publication.ContentType=='Image'">
            <div class="col-md-12">
              <img [src]="publication.FilePath" alt="" class="img-responsive img-description-publication">
            </div>
          </div>
          <div *ngIf="publication.ContentType=='Video'">
            <div class="col-md-12">
              <div align="center" class="embed-responsive embed-responsive-16by9">
                <video controls class="embed-responsive-item">
                  <source [src]="publication.FilePath" type="video/mp4">
                  </video>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <span class="text-16 text-roboto-light">
                {{publication.strContent}}
              </span>
            </div>
            <div class="col-md-12">
              <ul class="ul-nav text-fsjoey-bold">
                <li class="dropdown-submenu li-nav">
                  <span>
                    &#x25cb;&#x25cb;&#x25cb;
                  </span>
                  <ul class="dropdown-menu text-fsjoey">
                    <li class="">
                      <a (click)="reportContent(publication.ContentId)">
                        Reportar contenido
                      </a>
                    </li>
                    <li class="">
                      <a (click)="savePost(publication.ContentId)">
                        Guardar contenido
                      </a>
                    </li>
                  </ul>
                </li>
                <li>
                  <span (click)="showCommentsForPost(publication.ContentId)">
                    {{publication.CountComment}} <i class="material-icons" >mode_comment</i>
                  </span>
                </li>
                <li  [class]="publication.IsLike?'liked':'notLiked'">
                  <span (click)="likePost(publication.ContentId)"  >
                    {{publication.CountLike}}
                    <i class="material-icons likeIcon" >thumb_up</i>
                  </span>
                </li>
              </ul>
            </div>
            <div class="row commentsHolder hidden">
              <div class="col-md-12 ">
                <div class="row" *ngFor="let userComment of publication.ListComment">
                  <div class="col-md-2 text-center">
                    <img class="img-center img-profile-publications" src="data:image/png;base64,{{userComment.Picture}}" alt="">
                  </div>
                  <div class="col-md-10">
                    <h3 class="text-18 text-fsjoey-bold top-publication">
                      {{userComment.FullName}}
                    </h3>
                    <p class="text-16 text-roboto-light">
                      {{userComment.StrComment}}
                    </p>
                    <br>
                  </div>
                </div>
                <i class="clickable showMoreText" *ngIf="publication.CountComment>3" (click)="showMoreCommentsForPost(publication.ContentId)">Ver mas</i>
              </div>
            </div>
            <div class="col-md-12 cont-send-message">
              <textarea placeholder="Escribe tu comentario" class="comment"></textarea>
              <br>
              <br>
              <i class="material-icons" (click)=commentPosts(publication.ContentId)>send</i>
            </div>
            <div class="col-md-12">
              <hr class="hr">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </div>
