/* You can add global styles to this file, and also import other style files */
@import assets/css/default-style
@import assets/css/fonts
html, body, .background
  // height: 100%
  overflow-x: hidden
.background
  // background-image: url(assets/img/bg.jpg)
  background-image: url(assets/img/asset-lion-3.png)
  background-repeat: no-repeat
  background-position: bottom left
  background-attachment: fixed
  background-color: #256299
  
.img-lion
  position: fixed
  max-width: 470px
  bottom: 0
  left: 0
  @media only screen and (max-width : 1280px)
    display: none

.selectFile
  margin: 0 0 10px 0
  text-align: left
  .selectFileCtrl
    background: #21578e
    display: inline-block
    padding: 5px 20px
    border-radius: 30px
    color: #ffffff
    transition: all ease 0.3s
    cursor: pointer
    &:hover
      background-color: lightblue
    

input
  &:-webkit-autofill
    -webkit-box-shadow: 0 0 0 30px #2779a8 inset

  &:-webkit-autofill
    -webkit-text-fill-color: #ffffff !important

h1
  margin: 0
  font-weight: normal
.text
  &-roboto-thin
    font-family: 'Roboto-Thin'
  &-roboto-medium
    font-family: 'Roboto-Medium'
  &-roboto-light
    font-family: 'Roboto-Light'
  &-roboto-thinItalic
    font-family: 'Roboto-ThinItalic'
  &-fsjoey
    font-family: 'FSJoey'
  &-roboto-regular
    font-family: 'Roboto-Regular'
  &-fsjoey-bold
    font-family: 'FSJoey-Bold'
  &-fsjoey-light
    font-family: 'FSJoey-Light'
  &-arial
    font-family: Arial

.img-center
  margin: 0 auto

// input

// .label-icons
//   transform: translate(15px,50px)
.cont-icons
  position: relative
  i
    position: absolute
    padding: 3px 0 0 14px
.input-icons
  border-radius: 30px
  border: 0
  background-color: #2779a8
  color: #ffffff
  width: 100%
  height: 44px
  padding: 10px 10px 10px 55px
  &::placeholder
    color: #ffffff
  &:focus
    border: 2px solid #ffffff
    outline: 0px
.table-form
  width: 100%
  color: #ffffff
  margin: 20px 0 20px 0

// End input

// Buttons

.btn
  font-family: 'Roboto-Thin'
  font-size: 22px
  padding: 6px 12px
  transition: all ease 0.5s
  width: 100%
  border-radius: 40px
  &-white
    background-color: #ffffff
    &:hover
      background-color: #3da9d6
      color: #ffffff
  &-gray
    background-color: gray
    color: #ffffff
    &:hover
      background-color: lightgray
      color: gray
  &-blue
    background-color: #246187
    color: #ffffff
    &:hover
      background-color: lightblue
      color: #173d54


button.loggingIn
  cursor: default
  background-color: #246187
  color:white !important

.cont-btn
  padding: 5px
  border-radius: 40px
  max-width: 263px
  transition: all ease 500ms
  &-white
    border: 2px solid #ffffff
    color: #246187
    &:hover
      border: 2px solid #3da9d6
  &-gray
    border: 2px solid gray
    color: #246187
    &:hover
      border: 2px solid lightgray
  &-blue
    border: 2px solid #246187
    color: #246187
    &:hover
      border: 2px solid lightblue

// End buttons

.text-legals
  color: #194c7b
.img-profile
  width: 180px
  border-radius: 50%
  height: 180px
  border: 3px solid #ffffff
.cont-profile
  position: relative
  height: 180px
  width: 180px
.ico-edit-profile
  color: #ffffff
  background-color: #256299
  padding: 5px
  border: 3px solid #ffffff
  border-radius: 50%
  position: absolute
  bottom: 0px
  right: 10px
.text-fffe89
  color: #fffe89
select
  -webkit-appearance: none
  -moz-appearance: none
  -o-appearance: none
  background: url(assets/img/arrow.png) no-repeat center
  border-radius: 30px
  border: 0
  background-color: #2779a8
  color: #ffffff
  width: 100%
  height: 44px
  cursor: pointer
  padding: 10px 20px 10px 20px
  font-family: 'Roboto-ThinItalic'
  background-position-x: 95%
  background-position-y: 50%
  &:focus
    border: 2px solid #ffffff
    outline: 0px
.cont-forms
  min-height: 60px
.cont-separator
  @media only screen and (max-width : 992px)
    display: none
.container-interna
  @media only screen and (min-width : 1200px)
    width: 600px
.container-header
  @media only screen and (min-width : 1200px)
    width: 1400px
.content-profile-left
  .cont-profile
    width: 150px
    height: 150px
    .img-profile
      width: 150px
      height: 150px
      object-fit: cover
.cont-btn-profile
  text-align: right
  width: 100%
  margin: 10px 0 -5px 0
  a
    color: #ffffff
    border: 2px solid #ffffff
    padding: 3px 5px
    border-radius: 30px
    font-family: 'FSJoey-Light'
    transition: all ease 0.5s
    &:hover
      background-color: #ffffff
      color: #256299
      text-decoration: none
.bullet-profile
  padding: 5px
  position: absolute
  bottom: 0px
  right: 20px
.hr
  width: 100%
  border: 1px solid rgba(255, 255, 255, 0.3)
.text-blue-profile
  color: #89e9ff
  &:hover
    color: #89e9ff
  &:active
    color: #89e9ff
  &:visited
    color: #89e9ff
    
.text-white-profile
  color: #ffffff
.line-height-15
  line-height: 15px
.line-vert
  border-right: 1px solid #ffffff
.cont-data
  padding-left: 10px
  padding-right: 10px
.publications
  // height: 80vh
  // @media only screen and (max-width : 1280px)
  //   height: 75vh
  // overflow-y: auto
  height: auto
  overflow: hidden
.ico-search
  color: #256299
.input-search
  background-color: #ffffff
  color: #9d9fa1
  &::placeholder
    color: #9d9fa1
  &:focus
    border: 2px solid #3daad6
    outline: 0px
.cont-publications-header
  background-color: #3daad6
  border-radius: 5px 5px 0 0
  margin: 0
  div
    height: 52px
    i
      vertical-align: middle
      font-size: 36px
  .arrow-left
    background-color: #0488be
    border-radius: 5px 0 0 0
    width: 10%
  .with-out-arrow
    width: 100%
    display: table
    padding-left: 20px
    div
      display: table-cell
      vertical-align: middle
  .arrow-right
    width: 90%
    display: table
    padding-left: 20px
    div
      display: table-cell
      vertical-align: middle
.cont-publications-body
  margin: 0
  div
    color: #4f4f4f
  .text-white
    color: #fff
.img-profile-publications
  border-radius: 50% !important
  width: 70px
  height: 70px
.data-publications
  padding-top: 30px
  border-radius: 5px
  background-color: #ffffff
  margin-bottom: 10px
  .col-md-12 img
    margin-top: 10px
    margin-bottom: 15px
    border-radius: 3px

.ul-nav
  list-style: none
  margin: 0
  padding: 0
  transition: all ease 0.5s
  .li-nav
    margin: 2px
    padding: 0 10px 0 10px
    float: right
    height: 40px
    cursor: pointer
    a
      color: #256299
      img
        margin-right: 5px
        margin-left: 10px
.hr-2
  width: 100%
  border: 1px solid rgba(0, 0, 0, 0.1)
  margin-top: 0
.top-publication
  margin-top: 5px
i
  cursor: pointer
.legals div
  h1, p
    color: #256299
.legals table
  color: #256299
  line-height: 35px
textarea
  border: 2px solid #dadada
  width: 100%
  border-radius: 10px
  padding: 20px 60px 20px 20px
  resize: none
.modal-body
  padding: 0
  line-height: 40px
  .img-profile
    margin-top: 20px
    width: 140px
    height: 140px
    border: 2px solid #2d69a0
    padding: 3px
.color-4f4f4f
  color: #4f4f4f
.color-2d69a0
  color: #2d69a0
.color-414042
  color: #414042 !important

.star-mark:before
  z-index: 1
  content: ""
  position: absolute
  top: 0
  right: 20px
  background-image: url(assets/img/star.png)
  background-repeat: no-repeat
  width: 38px
  height: 40px
  background-size: contain
