.background-generic
  background-image: url(../../assets/img/home/bg-generic.jpg)
  background-size: 100% 100%
  height: 100%
  position: absolute
  left: 0
  right: 0
  top: 0
  div
    position: absolute
    right: 0
    left: 0
    bottom: 0