<app-header-login></app-header-login>
<div class="background background-generic">
  <div class="">
    <div class="row">
      <div class="col-md-12">
        <img class="img-responsive" src="assets/img/home/img-home.png" alt="">
      </div>
    </div>
  </div>
</div>
