<div class="cont-profile img-center">
  <img class="img-center img-profile" src="data:image/png;base64,{{user.Picture}}" alt="">
  <img class="bullet-profile" src="assets/img/bullet-profile.png" alt="">
</div>
<div class="cont-btn-profile">
  <a href="#">
    Editar perﬁl
  </a>
</div>
<hr class="hr">
<p class="text-fsjoey-bold text-white text-20">
  {{user.Name}}
</p>
<p class="text-white-profile text-14 line-height-15">
  <span class="text-fsjoey-light">
      {{user.Email}}
  </span>
  <br>
  <span class="text-fsjoey-bold">
      {{company}}
  </span>
  <br>
  <span class="text-fsjoey">
      {{city}}
  </span>
</p>
<br>
<div class="col-md-4 text-center text-white text-roboto-light line-vert cont-data">
  <span class="text-30">
      {{Follows}}
  </span>
  <br> Seguidos
</div>
<div class="col-md-4 text-center text-white text-roboto-light line-vert cont-data">
  <span class="text-30">
    {{Followers}}
    </span>
  <br> Seguidores
</div>
<div class="col-md-4 text-center text-white text-roboto-light cont-data">
  <span class="text-30">
    {{Votes}}
    </span>
  <br> Votos
</div>
