.img-icon-header
  max-width: 35px
.cont-slide
  padding: 0
  img
    width: 100%
    height: 275px
.data-publicationss
  line-height: 15px
  padding: 15px
  h2
    margin: 0
  
  div
    height: 80px
    display: table
    a
      display: table-cell
      vertical-align: middle
.color-256288
  color: #256288
.icon-add
  padding: 5px 15px 5px 15px
  border-radius: 5px
  background-color: #256288
  color: #ffffff
  transition: all ease 0.5s
  &:hover
    background-color: #1a445e
    color: #ffffff
.icon-vote
  padding: 5px 15px 5px 15px
  border-radius: 5px
  background-color: #00a295
  color: #ffffff
  transition: all ease 0.5s
  &:hover
    background-color: #027067
    color: #ffffff
.legend-one
  background-color: #eef7ff
  -webkit-box-shadow: 0px -10px 0px 0px rgba(0,136,255,0.2)
  -moz-box-shadow: 0px -10px 0px 0px rgba(0,136,255,0.2)
  box-shadow: 0px -10px 0px 0px rgba(0,136,255,0.2)
  div
    background-color: #eef7ff
.select
  position: absolute
  width: 30%
  height: 35px
  top: 50%
  transform: translate(-50%, -50%)
  -webkit-transform: translate(-50%, -50%)
  right: -14%
.input-search
  padding: 10px 185px 10px 55px
.display-grid
  display: grid !important
.target-disabled
  color: #ffffff
  i
    background-color: #e1e1e1
  &:hover
    i
      background-color: #cbcbcb
.img-profile-legend
  width: 140px
  border-radius: 50%
  height: 140px
  border: 3px solid #346ca0
  padding: 3px
  margin: 0 auto
.line-15
  line-height: 15px
.data-legend div
  height: 160px
  h2
    margin-top: 0
.cont-data
  height: auto !important
.line-40
  line-height: 40px
.ul-nav
  list-style: none
  margin: 0
  padding: 0
  transition: all ease 0.5s
  margin-top: 10px
  color: #256288
  li
    margin: 2px
    padding: 0 10px 0 10px
    float: right
    height: 40px
    cursor: pointer
    a
      color: #073b69
      vertical-align: middle
      i
        vertical-align: middle
.hr
  border-top: 2px solid #eee
.dropdown-submenu
  position: relative
  > .dropdown-menu
    // border: 0
    // // background-image:  url(../../assets/img/bg-sub-menu.png)
    // background-size: 100% 100%
    // left: -40%
    // padding: 20px 0 20px 0
    // width: 200px
    // box-shadow: none
    // line-height: 30px
    // background-color: transparent
    background-color: #baf0ff
    width: 100%
    padding: 0
    right: 0
    left: auto
    top: 60%
    li
      float: left
      height: auto
      width: 100%
      padding: 0
      margin: 0
      a
        width: 100%
      &:hover
        a
          color: #ffffff !important
          background-color: #246187 !important
  &:hover
    > .dropdown-menu
      display: block
  &.pull-left
    float: none
    > .dropdown-menu
      left: 0
textarea
  border: 2px solid #dadada
  width: 100%
  border-radius: 10px
  padding: 20px 60px 20px 20px
  resize: none
.cont-send-message
  position: relative
  i
    background-color: #256288
    padding: 5px
    border-radius: 50%
    color: #ffffff
    position: absolute
    right: 3%
    top: 40%
    transform: translate(-50%, -50%)
    -webkit-transform: translate(-50%, -50%)