<app-header-login></app-header-login>
<div class="container">
  <div class="row">
    <div class="col-md-3 col-md-offset-1 content-profile-left text-center">
      <app-user-data></app-user-data>
    </div>
    <div class="col-md-7 publications">
      <!-- <p class="cont-icons">
        <a href="#">
          <i class="material-icons ico-search text-36">search</i>
        </a>
        <input type="text" class="input-icons text-16 text-roboto-thinItalic input-search" placeholder="Busca más contenidos o a otras Leyendas">
      </p> -->
      <div class="row cont-publications-header text-white text-fsjoey-bold text-24">
        <div class="arrow-left left text-36 text-center" (click)="goBack()">
          <i class="material-icons">keyboard_arrow_left</i>
        </div>
        <div class="arrow-right right">
          <div>
            Perfil usuarios
          </div>
        </div>
      </div>
      <div class="row cont-publications-body">
        <!-- Leyenda -->
        <div class="col-md-12 data-publications data-legend">
          <div class="col-md-4 text-center">
            <img class="img-center img-profile-legend" src="data:image/png;base64,{{user.Picture}}" alt="">
          </div>
          <div class="col-md-6 line-15">
            <h2 class="text-fsjoey-bold text-24">
              {{user.Name}}
            </h2>
            <span class="text-fsjoey-light color-256288">
            {{user.Email}}
        </span>
            <br>
            <span class="text-fsjoey-bold color-256288">
            {{user.Company}}
        </span>
            <br>
            <span class="text-fsjoey color-256288">
            {{user.City}}
        </span>
            <br>
            <br>
            <div class="col-md-4 text-left text-roboto-light cont-data color-256288">
              <span class="text-30">
                {{followers.Follows}}
            </span>
              <br> Seguidos
            </div>
            <div class="col-md-4 text-left text-roboto-light cont-data color-256288">
              <span class="text-30">
                  {{followers.Followers}}
              </span>
              <br> Seguidores
            </div>
            <div class="col-md-4 text-left text-roboto-light cont-data color-256288">
              <span class="text-30">
                  {{followers.Votes}}
              </span>
              <br> Votos
            </div>
          </div>
          <div class="col-md-2 text-center line-40">
            <span data-placement="left" (click)="followUser(user.UserId)" [class]="isFollowed?'followed':'target-disabled'">
              <i class="material-icons icon-add"  data-toggle="tooltip" [title]="isFollowed?'Dejar de seguir':'Seguir'" >person_add</i>
            </span>
            <br>
            <span data-toggle="modal" data-target="#confirm-votin"  data-placement="left" [class]="isVoted?'voted':'target-disabled'">
              <i class="material-icons icon-vote" data-toggle="tooltip" title="Votar" >check_circle</i>
            </span>
          </div>
          <div class="col-md-12 cont-data">
            <hr>
          </div>
        </div>
        <div *ngIf="user.Summary" class="col-md-12 color-256288" style="background:white;border-radius:5px;margin-bottom:10px">
          <div class="col-md-2 text-133 text-arial text-center">
            “
          </div>
          <div class="col-md-8 text-center text-18 text-roboto-thin">
            <br> {{user.Summary}}
          </div>
          <div class="col-md-2 text-133 text-arial text-center commits">
            ”
          </div>
        </div>
        <div class="row cont-publications-body" *ngFor="let publication of posts;" id="publication_{{publication.ContentId}}">
          <div class="col-md-12 data-publications">
            <div class="col-md-2">
              <img class="img-center img-profile-publications" src="data:image/png;base64,{{publication.Picture}}" alt="">
            </div>
            <div class="col-md-10">
              <h3 class="text-24 text-fsjoey-bold">
                {{publication.Name}}
              </h3>
            </div>
            <div *ngIf="publication.ContentType=='Image'">
              <div class="col-md-12">
                <img [src]="publication.FilePath" alt="" class="img-responsive img-description-publication">
              </div>
            </div>
            <div *ngIf="publication.ContentType=='Video'">
              <div class="col-md-12">
                <div align="center" class="embed-responsive embed-responsive-16by9">
                    <video controls class="embed-responsive-item">
                        <source [src]="publication.FilePath" type="video/mp4">
                    </video>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <span class="text-16 text-roboto-light">
                  {{publication.strContent}}
              </span>
            </div>
            <div class="col-md-12">
              <ul class="ul-nav text-fsjoey-bold">
                <li class="dropdown-submenu li-nav">
                  <span>
                    &#x25cb;&#x25cb;&#x25cb;
                  </span>
                  <ul class="dropdown-menu text-fsjoey">
                    <li class="">
                      <a (click)="reportContent(publication.ContentId)">
                        Reportar contenido
                      </a>
                    </li>
                    <li class="">
                      <a (click)="savePost(publication.ContentId)">
                        Guardar contenido
                      </a>
                    </li>
                  </ul>
                </li>
                <li>
                  <span (click)="showCommentsForPost(publication.ContentId)">
                  {{publication.CountComment}} <i class="material-icons" >mode_comment</i>
                </span>
                </li>
                <li>
                  <span (click)="likePost(publication.ContentId)"  >
                  {{publication.CountLike}}
                  <i class="material-icons" >thumb_up</i>
                </span>
                </li>
              </ul>
            </div>
            <div class="col-md-12">
              <hr class="hr-2">
            </div>
            <div class="row commentsHolder hidden">
              <div class="col-md-12 ">
                <div class="row" *ngFor="let userComment of publication.ListComment">
                  <div class="col-md-2 text-center">
                    <img class="img-center img-profile-publications" src="data:image/png;base64,{{userComment.Picture}}" alt="">
                  </div>
                  <div class="col-md-10">
                    <h3 class="text-18 text-fsjoey-bold top-publication">
                      {{userComment.FullName}}
                    </h3>
                    <p class="text-16 text-roboto-light">
                      {{userComment.StrComment}}
                    </p>
                    <br>
                  </div>
                </div>
                <i class="clickable showMoreText" *ngIf="publication.CountComment>3" (click)="showMoreCommentsForPost(publication.ContentId)">Ver mas</i>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 cont-send-message">
                <textarea placeholder="Escribe tu comentario" class="comment"></textarea>
                <br>
              <br>
            </div>
          </div>
        </div>

        <!-- Fin Leyenda -->
      </div>


    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>

<!-- Modal confirm voting -->
<div id="confirm-votin" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body text-center">
          <div class="row cont-publications-header text-white text-fsjoey-bold text-24">
              <div class="arrow-left left text-36 text-center" data-dismiss="modal">
                <i class="material-icons align-bottom">keyboard_arrow_left</i>
              </div>
              <div class="arrow-right right">
                <div class="text-left">
                  Confirmación de votación
                </div>
              </div>
            </div>
            <div class="col-md-12 text-center">
                <div class="cont-profile img-center">
                  <img class="img-center img-profile" src="data:image/png;base64,{{user.Picture}}" alt="">
                  </div>
                  <p class="text-roboto-medium color-4f4f4f text-20">
                    {{user.Name}}
                  </p>
                  <p class="color-2d69a0 text-14 line-height-15">
                    <span class="text-fsjoey-light">
                      {{user.Email}}
                    </span>
                    <br>
                    <span class="text-fsjoey-bold">
                      {{user.Company}}
                    </span>
                    <br>
                    <span class="text-fsjoey">
                      {{user.City}}
                    </span>
                  </p>
                  <p class="text-roboto-thin text-40 color-2d69a0">
                      Escribe a continuación las razones de tu voto:
                  </p>
            </div>
            <div class="col-md-12 cont-send-message">
                <textarea placeholder="Escribe tu comentario" class="voteMessage"></textarea>
              </div>
              {{message}}
      </div>
      <div class="modal-footer">
          <div class="col-md-6">
              <p class="cont-btn cont-btn-gray text-16 img-center">
                  <button type="submit" class="anchor-reset btn btn-gray text-center text-white" data-dismiss="modal">Cancelar</button>
                </p>
          </div>
          <div class="col-md-6">
              <p class="cont-btn cont-btn-blue text-16 img-center">
                  <button type="submit" class="anchor-reset btn btn-blue text-center text-white" (click)="vote(user.UserId)">Aceptar</button>
                </p>
          </div>
        </div>
    </div>

  </div>
</div>
