<app-header-login></app-header-login>
<div class="container">
	<div class="row">
		<div class="col-md-3 col-md-offset-1 content-profile-left text-center">
			<app-user-data></app-user-data>
		</div>
		<div class="col-md-7 publications">
			<p class="cont-icons">
				<a href="#">
					<i class="material-icons ico-search text-36">search</i>
				</a>
				<input type="text" class="input-icons text-16 text-roboto-thinItalic input-search" placeholder="Busca más contenidos o a otras Leyendas">
			</p>
			<div class="row cont-publications-header text-white text-fsjoey-bold text-24">
				<div class="arrow-left left text-36 text-center">
          <br>
          <i class="material-icons">keyboard_arrow_left</i>
        </div>
        <div class="arrow-right right">
         <div>
          Leyendas del servicio
        </div>
      </div>
    </div>
    <div class="row cont-publications-body">
      <div class="col-md-12 cont-slide">
       <img src="assets/img/header-legends.jpg" alt="">
          <!-- <img src="assets/img/slides/legend/slide-2.jpg" alt="">
          	<img src="assets/img/slides/legend/slide-3.jpg" alt=""> -->
          </div>
          <!-- Leyenda -->
          <div>

          	<div class="col-md-12 data-publications data-legend">
          		<div class="col-md-7">
          			<h2>
          				Leyendas del servicio
          			</h2>
          		</div>
          		<div class="col-md-3 text-center">
                <h3>
                  1.3k
                </h3>
                <span>
                  Seguidores
                </span>
              </div>
              <div class="col-md-2 icon-legend">
                <i class="material-icons icon-add inactive">person</i>
              </div>
              <div class="col-md-12">
                &nbsp;
              </div>
              <div class="col-md-12">
               <select>
                <option value="">¿Qué contenido quieres ver?</option>
                <option value="">¿Qué contenido quieres ver?</option>
                <option value="">¿Qué contenido quieres ver?</option>
                <option value="">¿Qué contenido quieres ver?</option>
                <option value="">¿Qué contenido quieres ver?</option>
              </select>
            </div>
            <div class="col-md-12">
              <br>
              <span class="text-16 text-fsjoey-light">
                PUBLICACIONES POR
                <span class="text-28 color-00329F">
                  Filosofia del Servicio
                </span>
              </span>
            </div>
            <div class="col-md-12">
              <hr class="hr">
            </div>
            <div class="row cont-publications-body" *ngFor="let publication of publicationItem;">
              <div class="col-md-12 data-publications">
                <div class="col-md-2">
                  <img class="img-center img-profile-publications" [src]="publication.image" alt="">
                </div>
                <div class="col-md-10">
                  <h3 class="text-24 text-fsjoey-bold">
                    {{publication.name}}
                  </h3>
                </div>
                <div class="col-md-12">
                  <span class="text-16 text-roboto-light">
                    Desde este momento juntos haremos del servicio una Leyenda.
                  </span>
                </div>
                <div class="col-md-12">
                  <img [src]="publication.publicationImage" alt="" class="img-responsive">
                </div>
                <div class="col-md-12">
                  <span class="text-16 text-roboto-light">
                    {{publication.comment}}
                  </span>
                </div>
                <div class="col-md-12">
                  <ul class="ul-nav text-fsjoey-bold">
                    <li class="dropdown-submenu li-nav">
                      <a>
                        <!-- <i class="material-icons">more_horiz</i> -->
                        &#x25cb;&#x25cb;&#x25cb;
                      </a>
                      <ul class="dropdown-menu text-fsjoey">
                        <li class="">
                          <a href="sub.urlSubmenu">
                            Reportar contenido
                          </a>
                        </li>
                        <li class="">
                          <a href="sub.urlSubmenu">
                            Guardar contenido
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#">
                        {{publication.comments}} <i class="material-icons">mode_comment</i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        {{publication.likes}} <i class="material-icons">thumb_up</i>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-12 cont-send-message">
                  <textarea placeholder="Escribe tu comentario" class="comment"></textarea>
                  <br>
                  <br>
                  <i class="material-icons" (click)=commentPosts(publication.ContentId)>send</i>
                </div>
                <div class="col-md-12">
                  <hr class="hr">
                </div>
              </div>
            </div>
          </div>
          <!-- Fin Leyenda -->
        </div>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>
